@import "~bootstrap/scss/bootstrap";

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: #d1faff;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.login-form {
  display: block;
  text-align: center;
  margin-top: 25%;
  margin-left: 25%;
  margin-right: 25%;
  margin-bottom: 25%;
  font-family: Impact, Charcoal, sans-serif;
}

.header {
  text-align: center;
}

.header-container-text {
  margin-top: 2%;
}

#category-header {
  margin-top: 3%;
}

.answer {
  color: red;
}

.game-form {
  text-align: center;
  margin-left: 25%;
  margin-right: 5%;
  margin-top: 10%;
  font-family: Impact, Charcoal, sans-serif;
}

.app-div {
  text-align: center;
  margin-top: 5%;
}

.container-1 {
  background-color: #9bd1e5;
  margin-top: 2%;
  margin-bottom: 5%;
  font-family: Impact, Charcoal, sans-serif;
  text-align: center;
  // margin-left: 25%;
}

#question-div {
  border: 1px #ccc solid;
  border-color: black;
  font-family: Impact, Charcoal, sans-serif;
}

.header-container {
  border: 1px #ccc solid;
  background-color: #d1faff;
  font-family: Impact, Charcoal, sans-serif;
  // margin-left: 25%;
}

.chat-container {
  position: relative;
  right: 5px;
  left: 100px;
  margin-top: 1%;
  margin-right: 10%;
  height: 650px;
  border: 5px #ccc solid;
  background-color: white;
  font-family: Impact, Charcoal, sans-serif;
  overflow: scroll;
}

.chat-container-lobby {
  position: relative;
  right: 5px;
  left: 100px;
  width: 50px;
  margin-top: 1%;
  margin-right: 13%;
  height: 650px;
  border: 5px #ccc solid;
  background-color: white;
  font-family: Impact, Charcoal, sans-serif;
  overflow: scroll;
}

.form-inline {
  display: flex;
  position: absolute;
  bottom: 0;
  margin-bottom: 2%;
  width: auto;
}

#messages {
  position: absolute;
  left: 0;
}




.container-4 {
  margin-top: 1%;
  margin-left: 5%;
  border: solid;
  border-color: white;
  background-color: #57a773;
  font-family: Impact, Charcoal, sans-serif;
}

// .game-buttons-row {
//   // margin-top: 10%;
//   font-family: Impact, Charcoal, sans-serif;
//   font-size: larger;
// }

[target="_blank"] {
  color: black;
  font-family: Impact, Charcoal, sans-serif;
  display: flex;
  margin-bottom: 2%;
  margin-top: 3%;
  align-items: center;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
  padding: 10px 24px;
  border-radius: 12px;
  transition: all 0.5s;
  cursor: pointer;
  // background-color: #4CAF50; /* Green */
  // color: white;
  // transition-duration: 0.4s;
}

[target="_blank"] span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

[target="_blank"] span:after {
  content: "\00bb";
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

[target="_blank"]:hover span {
  padding-right: 25px;
}

[target="_blank"]:hover span:after {
  opacity: 1;
  right: 0;
}

// .container-3 {
//   border: 1px #ccc solid;
//   background-color: white;
//   font-family: Impact, Charcoal, sans-serif;
//   margin-right: 60%;
//   // margin-top: 5%;
// }

.profile-container {
  border: 1px #ccc solid;
  border-color: black;
  position: relative;
  font-family: Impact, Charcoal, sans-serif;
  left: 80px;
  margin-top: 1%;
  background-color: #157145;
  width: 200px;
  text-align: left;
  padding-left: 1%;
  color: white;
}

.logout-button {
  color: black;
}
