@import "~bootstrap/scss/bootstrap";



.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: #D1FAFF;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.login-form {
  display: block;
  text-align: center;
  margin-top: 25%;
  margin-left: 25%;
  margin-right: 25%;
  margin-bottom: 25%;
}

.header {
  text-align: center;
}
.game-form {
  text-align: center;
  margin-left: 25%;
  margin-right: 25%;
  margin-top: 10%;
}

.app-div {
  text-align: center;
  margin-top: 5%;
}

